@import 'index';
@import 'login';
@import 'cadastro';
@import 'produto';
@import 'categoria';
@import 'inicio';
@import 'administrador';
@import 'atlUser';
@import 'addProduto';
@import 'atlProduto';
@import 'pagamento';
@import 'endereco';
@import 'editProduto';
@import 'erro';
@import 'compFinal';
@import 'adminDash';
@import 'carrinho';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
