* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #212529;
  color: #fff;
  margin-top: 2rem;
}

.container {
  margin-left: 5rem;
  margin-right: 5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  .logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #00a57e;
  }

  img {
    width: 16rem;
  }

  nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;

    a {
      text-decoration: none;
      color: #00a57e;
    }

    a:hover {
      font-weight: bold;
    }
  }
}

main {
  padding: 2rem;

  .hero {
    background-color: #009c75;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 5px;
    align-items: center;
    padding-inline: 3rem;
    padding-block: 5rem;

    .hero-text {
      h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: -1rem;
      }

      p {
        font-size: 3rem;
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 1rem;
      }

      .search-box input {
        padding: .75rem 1.5rem;
        border: none;
        border-radius: 20rem;
        width: 250px;
        font-size: 1rem;
      }
    }

    .hero-image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #d3d3d3;
    }
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 1rem;

    h2 {
      font-size: 1rem;
      color: #b3dcd2;
    }

    a {
      font-size: 0.8rem;
      color: #00a57e;
      text-decoration: none;
    }
  }

  .grid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    div {
      background-color: #00a57e;
      border-radius: 4px;
    }
  }

  .categorias h2 {
    color: #f4f5f7;
    margin-top: 4rem;
    margin-bottom: .5rem;
  }

  .categorias a {
    font-weight: bold;
  }

  .categorias-grid {
    display: flex;
    justify-content: space-between;
  }

  .categoria {
    width: 10rem;
    height: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
  }

  .material-symbols-outlined {
    font-size: 5rem;
    color: #212529;
  }

  .populares h2 {
    font-size: 1rem;
    margin: 2rem 0 1rem;
    color: #f4f5f7;
    margin-top: 4rem;
    margin-bottom: 1.4rem;
  }

  .populares-grid {
    display: flex;
    justify-content: space-between;
  }

  .populares-grid div {
    width: 19rem;
    height: 25rem;
  }
}

footer {
  margin-top: 3rem;
  background-color: #009c75;
  color: #1c1d21;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-left: calc(-1 * var(--body-margin));
  margin-right: calc(-1 * var(--body-margin));

  .logo {
    font-weight: bold;
    font-size: 1.5rem;
    padding-block: 3rem;
    padding-left: 5rem;
  }

  img {
    width: 16rem;
  }

  .footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: end;
    padding-right: 5rem;

    li a {
      color: #f4f5f7;
      text-decoration: none;
    }
  }
}
