body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: #212529;
  color: #f4f5f7;
}

html, body {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}

.principal-container {
  margin-inline: 5rem;
}

.principal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-inline: 5rem;
  background-color: #212529;
}
.principal-header .principal-logo img {
  width: 17rem;
}
.principal-header .principal-nav a {
  color: #009975;
  margin-left: 1.5rem;
  text-decoration: none;
}
.principal-header .principal-nav a:hover {
  font-weight: bold;
}

.principal-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #009975;
  padding-left: 4rem;
  border-radius: 0.5rem;
}
.principal-hero .principal-hero-text {
  max-width: 75%;
}
.principal-hero .principal-hero-text h1 {
  font-weight: 100;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.principal-hero .principal-hero-text h1 span {
  font-weight: bold;
}
.principal-hero .principal-hero-text .principal-input-wrapper {
  position: relative;
  display: inline-block;
}
.principal-hero .principal-hero-text .principal-input-wrapper .material-symbols-outlined {
  position: absolute;
  left: 1rem;
  top: 25%;
  transform: translateY(-50%);
  color: #727272;
  pointer-events: none;
}
.principal-hero .principal-hero-text .principal-input-wrapper input {
  padding-block: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  border-radius: 5rem;
  border: none;
  font-size: 1rem;
  margin-bottom: 3rem;
}
.principal-hero .principal-hero-image {
  padding-top: 4rem;
  padding-right: 4rem;
  align-self: flex-end;
}
.principal-hero .principal-hero-image img {
  display: block;
  width: 27rem;
}

.principal-categorias {
  margin-top: 3rem;
}
.principal-categorias .principal-categorias-cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.principal-categorias .principal-categorias-cabecalho h2 {
  font-size: 1.2rem;
  color: #009975;
}
.principal-categorias .principal-categorias-cabecalho a {
  font-weight: 400;
  text-decoration: none;
  color: #009975;
}
.principal-categorias .principal-categorias-cabecalho a:hover {
  font-weight: bold;
}
.principal-categorias .principal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  text-align: center;
}
.principal-categorias .principal-grid .principal-categoria {
  background-color: #009975;
  color: white;
  border-radius: 0.3rem;
  padding-block: 1.5rem;
  padding-inline: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.principal-categorias .principal-grid .principal-categoria:hover {
  cursor: pointer;
  background-color: #018c5e;
}
.principal-categorias .principal-grid .principal-categoria .material-symbols-outlined {
  font-size: 3.5rem;
}

.principal-populares {
  margin-block: 3rem;
}
.principal-populares h2 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #009975;
}
.principal-populares .principal-produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-right: -1rem;
}
.principal-populares .principal-produtos .principal-produto {
  background-color: #f4f5f7;
  color: #212529;
  border-radius: 0.5rem;
  padding: 0.7rem;
  width: calc(25% - 1rem);
  text-align: center;
}
.principal-populares .principal-produtos .principal-produto img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.principal-populares .principal-produtos .principal-produto .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #009975;
}
.principal-populares .principal-produtos .principal-produto .card-footer .material-symbols-outlined {
  color: #f4f5f7;
  background-color: #009975;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

.principal-footer {
  margin-top: 6rem;
  background-color: #009975;
  color: #f4f5f7;
  padding-inline: 5rem;
  padding-block: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.principal-footer .principal-logo-footer img {
  width: 17rem;
}
.principal-footer .principal-footer-links {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 1rem;
}
.principal-footer .principal-footer-links a {
  font-size: 1.1rem;
  font-weight: 300;
  color: #f4f5f7;
  margin-left: 1.5rem;
  text-decoration: none;
}
.principal-footer .principal-footer-links a:hover {
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  height: 100%;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  background-color: #212529;
  color: #ffffff;
  overflow: hidden;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.login-left-panel {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #212529;
  margin-left: 5rem;
}
.login-left-panel .login-logo img {
  margin-top: -4rem;
  width: 7rem;
}
.login-left-panel h1 {
  font-family: "Afacad", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  color: #00a97f;
  margin-top: -0.5rem;
  margin-left: -0.1rem;
  margin-bottom: 0rem;
}
.login-left-panel p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  color: #d1d5db;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
.login-left-panel form {
  display: flex;
  flex-direction: column;
}
.login-left-panel form label {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
}
.login-left-panel form input {
  font-family: "Noto Sans", sans-serif;
  padding: 1rem;
  font-size: 1rem;
  background-color: #212529;
  border: 2px solid #d1d5db;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  color: #ffffff;
  margin-right: 4rem;
}
.login-left-panel form button {
  padding: 1.25rem;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: #00a97f;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
  margin-right: 4rem;
}
.login-left-panel form button:hover {
  background-color: #007659;
}

.login-right-panel {
  flex: 1;
  background: url("/assets/img/image-login.png") center center/cover no-repeat;
}

.cadastro-page {
  height: 100%;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  background-color: #212529;
  color: #ffffff;
  overflow: hidden;
}

.cadastro-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.cadastro-left-panel {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #212529;
  margin-left: 5rem;
}
.cadastro-left-panel .cadastro-user {
  display: flex;
  flex-direction: row;
}
.cadastro-left-panel .cadastro-user input {
  margin-top: 1rem;
  padding-right: 5rem;
}
.cadastro-left-panel .cadastro-user .cadastro-nome {
  margin-right: 0.2rem;
}
.cadastro-left-panel .cadastro-usuario {
  margin-left: 0.2rem;
}

.cadastro-logo img {
  margin-top: -4rem;
  width: 7rem;
}

.cadastro-titulo {
  font-family: "Afacad", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  color: #00a97f;
  margin-top: -0.5rem;
  margin-left: -0.1rem;
  margin-bottom: -0.5rem;
}

.cadastro-paragrafo {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  color: #d1d5db;
  margin-bottom: 1rem;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
}
form label {
  font-size: 1.125rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
form input {
  font-family: "Noto Sans", sans-serif;
  padding: 1rem;
  font-size: 1rem;
  background-color: #212529;
  border: 2px solid #d1d5db;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
  margin-right: 4rem;
}
form button {
  padding: 1.25rem;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: #00a97f;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  margin-right: 4rem;
}
form button:hover {
  background-color: #007659;
}

.cadastro-right-panel {
  flex: 1;
  background: url("/assets/img/image-login.png") center center/cover no-repeat;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: #212529;
  color: #f4f5f7;
}

.produtos-container {
  margin-inline: 5rem;
}

.produtos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.produtos-header .produtos-logo {
  width: 17rem;
}
.produtos-header .produtos-search {
  display: flex;
  align-items: center;
  background-color: #f4f5f7;
  border-radius: 10rem;
  padding: 0.9rem;
}
.produtos-header .produtos-search .material-symbols-outlined {
  color: #595e62;
}
.produtos-header .produtos-search input {
  border: none;
  font-size: 0.9rem;
  background: transparent;
  color: #dcdcdc;
  margin-left: 0.5rem;
  outline: none;
}

.produtos-detalhes .produtos-main {
  display: flex;
  gap: 2rem;
}
.produtos-detalhes .produtos-main .produtos-imagem-principal {
  width: 50rem;
  border-radius: 0.2rem;
}
.produtos-detalhes .produtos-main .produtos-info {
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.produtos-detalhes .produtos-main .produtos-info .produtos-titulo {
  margin-top: -1rem;
  font-family: "Afacad", sans-serif;
  font-size: 3rem;
  color: #f4f5f7;
}
.produtos-detalhes .produtos-main .produtos-info .produtos-preco {
  margin-top: 0rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #f4f5f7;
}
.produtos-detalhes .produtos-main .produtos-info .produtos-descricao {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
  color: #dcdcdc;
}
.produtos-detalhes .produtos-main .produtos-info .produtos-botao {
  background-color: #009975;
  border: none;
  padding: 1.5rem 2rem;
  border-radius: 6px;
  color: #f4f5f7;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-top: auto;
}
.produtos-detalhes .produtos-main .produtos-info .produtos-botao:hover {
  background-color: #008465;
}
.produtos-detalhes .produtos-thumbs {
  max-width: 50rem;
  display: flex;
  gap: 0.5rem;
  margin: 2rem 0;
  margin-top: 0.5rem;
}
.produtos-detalhes .produtos-thumbs img {
  width: 13rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.produtos-detalhes .produtos-thumbs img:hover {
  filter: brightness(0.6);
}
.produtos-detalhes .produtos-similares {
  margin-top: 4rem;
}
.produtos-detalhes .produtos-similares .produtos-subtitulo {
  color: #009975;
  margin-bottom: 1.275rem;
  font-weight: 600;
  font-size: 1.275rem;
}
.produtos-detalhes .produtos-similares .produtos-lista-similares {
  display: flex;
  gap: 1.7rem;
  margin-bottom: 6rem;
}
.produtos-detalhes .produtos-similares .produtos-lista-similares img {
  width: 20rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.produtos-footer {
  background-color: #009975;
  color: #f4f5f7;
  padding-inline: 5rem;
  padding-block: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.produtos-footer .produtos-footer-logo img {
  width: 17rem;
}
.produtos-footer .produtos-footer-links {
  list-style: none;
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 1rem;
}
.produtos-footer .produtos-footer-links li {
  font-size: 1.1rem;
  font-weight: 300;
  color: #f4f5f7;
  cursor: pointer;
}
.produtos-footer .produtos-footer-links li:hover {
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
